build/
out/
.vs/
.vscode/
*.obj
*.exe
*.pdb
*.ilk
*.user
CMakeUserPresets.json
boot.err.log
boot.log
boot.txt
build_asan/
build_ubsan/
busybox-x86_64
dbg_*
guest_ram.bin
initramfs*
p9-test/
pvh.log
trace.txt
ubsan_build.log
vmlinux*
tools/__pycache__/
__pycache__/
*.pyc